.createAccountWrapper {
  .heading {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      display: none;
    }
    .logoWrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    .rightSideHeadingWrapper {
      font-family: "Space Mono";
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      .rightsideHeadingButton {
        background-color: #a259ff;
        color: white;
        padding: 20px 20px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        border: none;
        border: 1px solid transparent;
        &:hover {
          border: 1px solid lightblue;
        }
      }
    }
    h2 {
      @media (max-width: 965px) {
        font-size: 20px;
      }
    }
  }
  .rowSection {
    margin: 0 15px;
  }
  .footer {
    margin-top: 20px;
    padding: 30px;
    & > div {
      margin: 30px 0;
    }
    display: flex;
    justify-content: space-evenly;
    background-color: #3b3b3b;
    .footerLogo {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    .IconsSection {
      display: flex;
      align-items: center;
    }
    .bottomsection3 {
      .bottomEmailField {
        position: relative;
        display: inline-block;
        input {
          position: relative;
          padding: 9px 20px;
          max-width: 300px;
        }
        button {
          position: absolute;
          right: -70px;
          top: 0;
          background-color: #a259ff;
          color: white;
          padding: 20px;
          border-radius: 10px;

          display: flex;
          justify-content: center;
          align-items: center;
          outline: none;
          border: none;
          border: 1px solid transparent;
          &:hover {
            border: 1px solid lightblue;
          }
          @media (max-width: 870px) {
            position: unset;
            width: 100%;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  .rightPane {
    h1 {
      font-size: 50px;
      font-weight: bold;
    }
    p {
      font-weight: 500;
      font-size: 20px;
      max-width: 400px;
    }
    .inputFields {
      display: flex;
      flex-direction: column;
      gap: 20px;
      input {
        padding: 5px 30px;
        border-radius: 100%;
      }
      .createAccountButtonWrapper {
        max-width: 350px;
        .createAccountButton {
          padding: 20px 30px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #a259ff;
        }
      }
    }
  }
}
